---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { marked } from "marked";
import type { Post } from "../../lib/types";
import { getPostBySlug, strapiFetch } from "../../lib/strapi";
import PostMeta from "../../components/PostMeta.astro";

const { slug } = Astro.params;
if (!slug) {
  throw new Error("No slug provided");
}
const post: Post = await getPostBySlug(slug);

export async function getStaticPaths() {
  const { data } = await strapiFetch("/posts");
  const posts: Post[] = data;

  return posts.map((post) => ({
    params: {
      slug: post.attributes.Slug,
    },
    props: {
      post,
    },
  }));
}
---

<BaseLayout title={post.attributes.Title}>
  <article>
    <h1 set:html={post.attributes.Title} />
    <PostMeta post={post} />
    <Fragment set:html={marked.parse(post.attributes.Content)} />
  </article>
  <aside id="post__bottom-navigation">
    <p>
      <i class="fas fa-arrow-left"></i>{" "}<a href="/news">Back to News</a>
    </p>
  </aside>
</BaseLayout>
