---
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="News">
  <h2>Latest News</h2>
  <PostList />
</BaseLayout>
