---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../scss/index.scss";
import PostList from "../components/PostList.astro";
---

<BaseLayout title="Home">
  <h2>Latest News</h2>
  <PostList />
</BaseLayout>
